<template id="image-viewer-template">
    <div class="modal">
        <div class="modal-header">
            <div class="modal-title"></div>
            <button class="modal-close">&times;</button>
        </div>
        <div class="modal-body">
            <div class="image-container">
                <img src="" alt="">
                <button class="image-nav prev">◀</button>
                <button class="image-nav next">▶</button>
            </div>
            <div class="image-info">
                <div class="image-name"></div>
                <div class="image-size"></div>
            </div>
        </div>
    </div>
</template>