<template id="view-toggle-template">
    <label class="view-toggle-option">
        <input class="view-toggle-input" type="radio" name="view-mode" value="grid">
        <span>Grid</span>
    </label>
    <label class="view-toggle-option">
        <input class="view-toggle-input" type="radio" name="view-mode" value="list">
        <span>List</span>
    </label>
    <label class="view-toggle-option">
        <input class="view-toggle-input" type="radio" name="view-mode" value="video">
        <span>Video</span>
    </label>
</template>
